<div class="row un-description">
  <div class="col-8 un-main-content">
    <div class="un-about-description">
      {{ 'If You have any questions feel free to tell about them.' | translate }}
    </div>
    <div class="un-contact-form">
      <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="form-group col-12">
          <input type="text" class="form-control" formControlName="email" placeholder="{{'email' | translate}}"
                 tabindex="1">
          <textarea class="form-control" formControlName="content" placeholder="{{'message' | translate}}"
                    tabindex="1"></textarea>
        </div>
        <button class="btn" [promiseBtn]="aboutPromise" type="submit">
          <i class="material-icons">local_post_office</i> {{'Send message' | translate}}
        </button>
        <span *ngIf="formError">{{ 'All fields are required. Check email address correctness' | translate }}</span>
      </form>
    </div>
  </div>
</div>
