<form [formGroup]="searchForm" (ngSubmit)="redirectToResults()" (keyup.enter)="redirectToResults()">
  <mat-form-field appearance="legacy">
    <mat-label><mat-icon matSuffix>place</mat-icon> {{'Search for places' | translate }}</mat-label>
    <input type="text" matInput formControlName="searchInput" [matAutocomplete]="auto">
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary"><i class="material-icons">search</i></button>
</form>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let place of places" [value]="place.name">
    <a [routerLink]="['/places', place.vendorPlaceId]">{{ place.name }}</a>
  </mat-option>
  <mat-option *ngIf="isLoggedIn" class="fs-search-last">
    <a [routerLink]="['/dashboard']">{{ places.length ? 'More results' : 'Advanced search' | translate }}</a>
  </mat-option>
</mat-autocomplete>
