@import 'colors';
@import 'variables';
@import 'mixins';

:host(un-place-searcher) {
  form {
    text-align: center;
    margin-top: $margin-small;
    mat-form-field {
      max-width: 100%;

      input {
        width: 90%;
      }
    }

    button {
      cursor: pointer;
      background-color: $dirty-green;
      color: $font-color-on-colored-div;

      &:hover {
        background-color: darken($button-background, 5%);
      }
    }

    @media (min-width: 768px) {
      mat-form-field {
        width: 30rem;
      }

      button {
        width: 10vh;
      }
    }

    @media (max-width: 767px) {
      mat-form-field {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }
}
