@import 'colors';
@import 'variables';
@import 'mixins';

:host(un-place-searcher) {
  form {
    mat-form-field {
      width: 35rem;
      max-width: 100%;
    }

    @media (max-width: 767px) {
      .btn {
        width: 100%;
      }
    }
  }
}
