<form [formGroup]="searchForm" (ngSubmit)="redirectToResults()" (keyup.enter)="redirectToResults()">
  <mat-form-field>
    <!-- <i class="material-icons d-none d-sm-none d-md-block">room</i> -->
    <input type="text" matInput placeholder="{{'Search for places' | translate }}" formControlName="searchInput"
           [matAutocomplete]="auto">
  </mat-form-field>
  <button class="btn" type="submit"><i class="material-icons">search</i></button>
</form>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let place of places" [value]="place.name">
    <a [routerLink]="['/places', place.vendorPlaceId]">{{ place.name }}</a>
  </mat-option>
  <mat-option *ngIf="isLoggedIn" class="un-search-last">
    <a [routerLink]="['/dashboard']">{{ places.length ? 'More results' : 'Advanced search' | translate }}</a>
  </mat-option>
</mat-autocomplete>
