@import 'colors';
@import 'variables';
@import 'mixins';

:host(fs-registration-page){
  margin: 0;

  .fs-registration-component {
    text-align: center;
    margin: 0;

    .fs-content {
      margin-top: $margin-large * 1.8;
      padding-bottom: $padding-medium;

      .fs-header {
        margin-bottom: 0;
      }
    }
  }
}
