@import 'colors';
@import 'variables';
@import 'mixins';

:host(un-registration-page){
  margin: 0;

  .un-registration-component {
    text-align: center;
    margin: 0;

    .un-content {
      margin-top: $margin-large * 1.8;
      padding-bottom: $padding-medium;

      .un-header {
        margin-bottom: 0;
      }
    }
  }
}

