<div class="row un-rating-item">
  <div class="un-rating-starts col-sm-12 col-md-6">
    <div *ngIf="rate?.rating != 0;  else noRates">
      <i class="material-icons">star_rate</i>
      <div> {{rate?.rating}} / 10 </div>
    </div>
    <ng-template #noRates>
      <i class="material-icons un-rate-star">star_border</i>
    </ng-template>
  </div>
  <div class="un-rate-content col-6">
    <div>{{ rate?.comments }}</div>
    <un-user-picture [picture]="rate?.author.picture"></un-user-picture><a [routerLink]="['/users', rate?.author.userId]">{{ rate?.author.firstname + ' ' + rate?.author.lastname }}</a>
    <div>{{ rate?.ratingDate | date }}</div>
  </div>
</div>
