@import "colors";
@import "variables";
@import "mixins";

:host(fs-rate-item) {
  div.fs-rating-item {
    border: $border-width-small solid $beige;
    color: $text;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: $margin-medium;

    text-align: center;

    .fs-rating-starts {
      width: 100%;
      background-image: url('/assets/ux/petr-sevcovic-594807-unsplash.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      color: $font-color-on-colored-div;
      text-align: initial;
      padding-left: 4em;
      padding-top: 3em;

      i {
        padding-left: $padding-small/2;
        width: $font-size-basic;
      }
    }

    .fs-rate-details {
      padding: $padding-medium;

      i {

        &.good {
          color: $dirty-green;
        }

        &.fine {
          color: $beige;
        }

        &.bad {
          color: $error;
        }

        vertical-align: middle !important;
      }
    }
  }
  .fs-rate-star {
    font-size: $font-size-basic;
  }
}
