@import 'colors';
@import 'variables';
@import 'mixins';

:host(fs-place-details-page) {
  .row {
    margin: 0;
  }

  .row.fs-description {
    color: $text;

    .fs-main-content {
      min-height: calc(100% - #{$fs-header-height} - #{$fs-footer-height} - #{$margin-large});
      margin-top: $margin-large;
      min-height: calc(100vh - #{$fs-header-height} - #{$fs-footer-height} - #{$margin-large});
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      .fs-place-details-header {
        font-size: 27px;
        font-family: serif;
      }

      .fs-visit {
        width: 100%;
        margin-bottom: $margin-medium;
      }

      .fs-place-navs {
        display: flex;
        height: 3rem;
        color: lighten($text, 35%);

        div {
          flex: 1;
          display: inline-block;
          align-items: center;
          justify-content: center;
          padding-top: $padding-small;
          padding-right: 0.2rem;
          border-bottom: solid $border-width-small white;
          i {
            vertical-align: middle !important;
          }

          &:hover {
            border-bottom: solid $border-width-medium rgba($beige, 0.7);
            background-color: lighten($gray-light, 3%);
            cursor: pointer;
          }

          &.active {
            border-bottom: solid $border-width-medium $dirty-green;
            color: $text
          }

          &:focus {
            transition: $dirty-green 0.5s ease;
            outline: 0;
            box-shadow: none;
          }
        }

        .rates {
          border-right: none;
        }
      }

      .fs-nav-content {
        margin: 1rem 0;

        &.fs-dark-div {
          border: $border-width-medium solid $beige;
        }

        .fs-details-content .row {
          min-height: 27rem;

          .fs-details-content-map div {
            padding: 0;
          }
        }

        div, fs-place-details {
          padding: 1rem 0;
        }
      }

      .fs-content-map {
        width: 100%;
        height: calc(100vh - #{$fs-footer-height} - #{$fs-header-height} - 10vh);
      }
    }
  }
}
