<div class="container">
  <div class="row">
    <div class="col-md-12">
      <agm-map [latitude]="placeDetails?.geometry.location.lat()"
               [longitude]="placeDetails?.geometry.location.lng()"
               [scrollwheel]="true" [zoom]="15">
        <agm-marker [latitude]="placeDetails?.geometry.location.lat()"
                    [longitude]="placeDetails?.geometry.location.lng()"
                    [title]="placeDetails?.name">
          <agm-info-window [isOpen]="true">{{placeDetails?.name}}</agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row">
    <div class="{{isLoggedIn && placeMenuExists ? 'col-md-6' : 'col-md-12'}}">
      <h1>{{placeDetails?.name}}</h1>
      <un-place-details [placeDetails]="placeDetails"></un-place-details>
    </div>
    <div *ngIf="isLoggedIn && placeMenuExists" class="col-md-6">
      <un-place-menu [menu]="placeMenu"></un-place-menu>
    </div>
  </div>
  <div class="row">
    <div class="un-place-visit">
      <button mat-raised-button
              color="primary"
              (click)="visit()">{{'Visit' | translate}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <un-rates-section [placeId]="placeId"></un-rates-section>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
