<div class="row un-description">
  <div class="col-12 un-main-content">
    <div class="un-place-details-header">
        {{placeDetails?.name ?  placeDetails?.name : 'Place Details' | translate }}
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div #map style="width: 100%; height: 100%"></div>
        <button *ngIf="isLoggedIn && user?.role !== UserRole.UNVERIFIED" class="btn un-visit" (click)="visit()">{{'Visit' | translate}}</button>
      </div>
    <div class="row un-place-navs">
      <div (click)="currentTab = 'details'"
            [ngClass]="(!currentTab || (currentTab == 'details')) ? 'active' : ''">
        <i class="material-icons un-rate-star">local_cafe</i>
        <span class="d-none d-sm-none d-md-inline-block">{{'Information' | translate}}</span>
      </div>
      <div (click)="currentTab = 'menu'"
            [hidden]="true"
            [ngClass]="{ 'active': currentTab == 'menu'}">
        <i class="material-icons un-rate-star">restaurant</i>
        <span class="d-none d-sm-none d-md-inline-block">{{ 'Menu' | translate }}</span>
      </div>
      <div (click)="currentTab = 'rates'"
            [ngClass]="{ 'active': currentTab == 'rates'}">
        <i class="material-icons un-rate-star">person_pin</i>
        <span class="d-none d-sm-none d-md-inline-block">{{'Rates' | translate}}</span>
      </div>
    </div>
    <div class="un-nav-content" [ngClass]="(!currentTab || (currentTab == 'details') || (currentTab == 'menu')) ? 'un-dark-div' : ''">
      <div class="un-details-content" [hidden]="currentTab != 'details' && currentTab">
        <div class="row">
          <div class="col-md-6 col-sm-12 un-details-content-map">
            <div #map style="width: 100%; height: 100%"></div>
            <button class="btn un-visit" (click)="visit()">{{'Visit' | translate}}</button>
          </div>
          <un-place-details class="col-md-6 col-sm-12"
                            [placeDetails]="placeDetails">
          </un-place-details>
        </div>
      </div>
      <div class="un-menu-content" [hidden]="currentTab != 'menu'">
        <div *ngIf="isLoggedIn && placeMenuExists;else other_content">
            <un-place-menu [menu]="placeMenu"></un-place-menu>
        </div>
        <ng-template #other_content>
          <div class="alert alert-warning" role="alert">
            {{ 'No access. Log in to see menu!' | translate }}
          </div>
        </ng-template>
      </div>
      <div class="un-rates-content" [hidden]="currentTab != 'rates'">
        <un-rates-section [placeId]="placeDetails?.vendorPlaceId"></un-rates-section>
      </div>
    </div>
  </div>
</div>
