@import 'colors';
@import 'variables';
@import 'mixins';

:host(un-dashboard) {
  color: white;

  .row.un-description {
    margin: 0;
    color: $font-color-on-colored-div;

    .un-content {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
}
