<div class="row fs-description">
  <div class="col-12 fs-content">
    <div class="row fs-map-form">
      <div class="col-10 fs-dashboard-content">
        <div class="row">
          <fs-dashboard-map class="col-lg-8 col-md-7 col-sm-12 fs-content-map"></fs-dashboard-map>
          <div class="fs-form col-lg-4 col-md-5 col-sm-12">
            <div class="fs-form-title">Search place</div>
            <fs-dashboard-form></fs-dashboard-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
