@import 'colors';
@import 'variables';
@import 'mixins';


:host(fs-reset-password) {
  form {
    margin-bottom: 10px;

    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;

      i {
        vertical-align: middle !important;
      }
    }
  }

  .fs-reset-password-message {
    padding: 0 2rem;
  }
}
