<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
  <div class="form-group col-12">
    <div formGroupName="passwordGroup">
      <input type="password" class="form-control" formControlName="password" placeholder="{{'password' | translate}}" tabindex="1">
      <span *ngIf="passwordIncorrect">
        {{'Password is incorrect' | translate}}
      </span>
      <input type="password" class="form-control" formControlName="repeatedPassword" placeholder="{{'repeat password' | translate}}" tabindex="1">
      <span *ngIf="passwordsNotEquals">
        {{'Passwords must match' | translate}}
      </span>
    </div>
  </div>
  <span *ngIf="formIncorrect">
    {{'Some of fields have errors' | translate}}
  </span>
  <button class="btn" type="submit" [promiseBtn]="promiseButton">
    <i class="material-icons">security</i> {{'Reset password' | translate}}
  </button>
</form>
