<div class="row fs-reset-password-component">
  <div class="col-lg-4 col-md-6 col-sm-10 fs-content">
    <div class="fs-form">
      <div class="fs-header">
        <i class="material-icons">security</i>
      </div>
      <div class="fs-auth-name">
        <h3><span>{{ 'Reset password' | translate }}</span></h3>
      </div>
      <fs-reset-password *ngIf="token && email; else lackOfToken" [token]="token" [email]="email"></fs-reset-password>
      <ng-template #lackOfToken>
        <div class="fs-reset-password-message">
          {{ 'No token and email. You cannot reset password' | translate }}
        </div>
      </ng-template>
    </div>
  </div>
</div>
