<div class="row un-login-component">
  <div class="col-12 un-create-account">
    {{"Don't have an account yet?" | translate}} <a [routerLink]="['/registration']">{{'Create one!' | translate}}</a>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-10 un-content">
    <div class="un-form">
        <div class="un-header">
            <i class="material-icons">people</i>
        </div>
        <un-custom-login [loginSuccess]="loginSuccess()"></un-custom-login>
        <un-facebook-login [loginSuccess]="loginSuccess()"></un-facebook-login>
      </div>
  </div>
</div>
