@import 'colors';
@import 'variables';
@import 'mixins';

:host(un-login-page){
  margin: 0;

  .un-login-component {
    text-align: center;
    margin: 0;

    .un-content {
      padding-bottom: $padding-large;
    }
  }
}
