// main palette
$gray-dark: #292426;
$gray-light: #E8E8E8;
$text: #444;

//accents
$dirty-green: #2E6542;
$beige: #d0bead;
$shadow: rgba(lighten($gray-dark, 10%),0.05);

// main components
$fs-header-background: white;
$fs-footer-background: white;
$app-background: lighten($gray-light, 5%);
$containers-background: rgba(0, 0, 0, .1);

//statuses
$error: #DE5B49;

// buttons
// ------- confirm button ------------
$button-background: $dirty-green;
$button-border: $dirty-green;
$button-text: white;
// ------- rejection button ------------

//input


//font
$font-color-basic: $text;
$font-color-secondary: $dirty-green;
$font-color-on-colored-div: white;
