// main palette
$gray-dark: #292426;
$gray-medium: #7B7B7B;
$gray-light: #A2A2A2;
$gray-lightest: #CACACA;
$orange-dark: #E38A36;
$orange-medium: darken(#F0CA4D, 10%);
$orange-light: #F0CA4D;
$text: #444;

//accents
$gray-blue: #DF6127;
$beige: #579C87;

// main components
$un-header-background: white;
$un-footer-background: white;
$app-background: lighten($gray-dark, 5%);

//statuses
$error: #DE5B49;

// buttons
// ------- confirm button ------------
$button-background: $gray-blue;
$button-border: $gray-blue;
$button-text: white;
// ------- rejection button ------------

//input


//font
$font-color-basic: $gray-dark;
$font-color-secondary: $orange-dark;
$font-color-on-colored-div: white;
