@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "fonts";
@import "colors";
@import "flags";
@import "variables";
@import "mixins";

html, body {
  height: 100%;
  color: $font-color-basic;
  font-size: $font-size-basic;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  *:focus {
    outline: 0;
    box-shadow: none;
  }

  .fs-create-account {
    margin-top: 1rem;
    padding: 1.2rem;
    font-size: $font-size-medium;
    background-color: $containers-background;
    color: lighten($font-color-basic, 15%);

    a {
      color: lighten($font-color-basic, 5%);
      font-weight: bolder;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .fs-content-map {
    @media (min-width: 992px) {
      min-height: 60vh;
      max-height: calc(100vh - #{$fs-footer-height} - #{$fs-header-height});
    }

    @media (min-width: 768px) and (max-width: 991px) {
      min-height: 50vh;
      max-height: calc(100vh - #{$fs-footer-height} - #{$fs-header-height});
    }

    @media (max-width: 767px) {
      min-height: 30vh;
      max-height: calc(100vh - #{$fs-footer-height} - #{$fs-header-height});
    }
  }

  button.btn {
    border: none;
    font-size: $font-size-button;
    background-color: $button-background;
    color: $font-color-on-colored-div;
    font-size: $font-size-basic;
    border-radius: 0;

    &.fs-form-button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
      i {
        vertical-align: middle !important;
      }
    }

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:hover {
      background-color: darken($button-background, 5%);
    }
  }

  .fs-content {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $containers-background;
    padding: 0;

    .fs-form {
      .fs-header {
        font-size: $font-size-header;
        color: white;
        margin-bottom: 1.5rem;
        display: block;

        .material-icons {
          @include creatIconCircle('/assets/ux/sharon-chen-352895-unsplash.jpg', 2.3em, 2.3rem, calc(4.3rem), white);
          @include transform(0, -3rem, 0);
        }
      }

      .fs-auth-name {
        padding: 0 $padding-large;
        margin-bottom: 1rem;
        h3 {
          overflow: hidden;
          &:before, &:after {
            background-color: #000;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
          }
          &:before {
            right: 0.5em;
            margin-left: -50%;
          }
          &:after {
            left: 0.5em;
            margin-right: -50%;
          }
        }
      }

      .form-group {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

      }

      h1 {
        font-size: $font-size-header;
      }

      input:not(.mat-input-element) {
        margin-bottom: 0.9rem;
        border-radius: 0;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;

        &:focus {
          transition: border-bottom-color 0.5s ease;
          border-bottom: 2px solid $dirty-green;
          outline: 0;
          box-shadow: none;
        }
      }

      .fs-adds {
        background-color: $beige;
        padding-bottom: 1rem;

        .fs-create-account {
          background-color: transparent;

          a {
            color: white;
          }
        }
      }
    }
  }

  .mat-tab-label {
    background: transparent;
    min-width: 60px !important;
    border-bottom: 0.1rem solid white;
  }

  .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    border-bottom: 0.1rem solid $dirty-green;
    background: transparent;
  }

  /deep/ .mat-form-field-label-wrapper .mat-input-placeholder-wrapper .mat-form-field-placeholder-wrapper {
    color: $text;
  }

  /deep/ .mat-form-field-label-wrapper {
    color: $text;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: transparent;
    border-bottom: 0.1rem solid $beige;
  }

  /deep/ .mat-input-underline {
    background-color: $beige;
  }

  .mat-focused .mat-form-field-label {
    color: $dirty-green !important;
  }

  .mat-form-field-ripple {
    background-color: $dirty-green !important;
  }

  .mat-focused .mat-form-field-label {
    color: $text;
  }

  .alert-warning {
    background-color: lighten($beige, 10%);
    border: none;
    margin: $margin-small;
    border-radius: 0;
  }
}
