//basic elements
$un-footer-height: 50px;
$un-header-height: 70px;
$un-header-add-height: 37px;

//font-size
$font-size-header: calc(0.9rem + 0.15vh + 0.5vw);
$font-size-basic: calc(0.3rem + 0.15vh + 0.5vw);
$font-size-medium: calc(0.5rem + 0.15vh + 0.5vw);
$font-size-button: calc(0.3rem + 0.8vh + 0.2vw);
