<div class="row fs-password-recovery-component">
  <div class="col-12 fs-create-account">
    {{"Don't have an account yet?" | translate}} <a [routerLink]="['/registration']">{{'Create one!' | translate}}</a>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-10 fs-content">
    <div class="fs-form">
      <div class="fs-header">
        <i class="material-icons">security</i>
      </div>
      <div class="fs-auth-name">
        <h3><span>{{ 'Password recovery' | translate }}</span></h3>
      </div>
      <div class="fs-password-recovery-email">
        <span>{{ "Enter your e-mail address and we'll send you a link to reset your password." | translate }}</span>
      </div>
      <fs-password-recovery></fs-password-recovery>
    </div>
  </div>
</div>
