@import 'colors';
@import 'variables';
@import 'mixins';

:host(fs-password-recovery-page){
  margin: 0;

  .fs-password-recovery-component {
    text-align: center;
    margin: 0;

    .fs-header {
      margin-bottom: 0;
    }

    .fs-content {
      padding-bottom: $padding-large;
    }

    .fs-password-recovery-email {
      padding: 0 2rem;
      margin-bottom: 1rem;
    }
  }
}
