<div>
  <h1>LOGO</h1>
</div>
<form [formGroup]="placesSearchForm" (ngSubmit)="findPlaces()">

  <mat-form-field>
    <input matInput formControlName="location" placeholder="{{'Location' | translate}}">
  </mat-form-field>
  <div>
    <button mat-raised-button  type="submit">{{'Locate' | translate}}</button>
    <button mat-raised-button  type="submit">{{'Find within bounds' | translate}}</button>
  </div>

  <mat-form-field>
    <input matInput formControlName="range" placeholder="{{'Range' | translate}}">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="{{'Place type' | translate}}">
      <mat-option *ngFor="let place of placeTypes" value="place.name">{{place.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="preferences" placeholder="{{'Preferences' | translate}}">
  </mat-form-field>

  <div>
    <label>{{'Price' | translate}}</label>
    <mat-slider [value]="price"></mat-slider>
  </div>

  <div>
    <label>{{'Rating' | translate}}</label>
    <mat-slider [value]="rating"></mat-slider>
  </div>

  <div>
    <button mat-raised-button color="primary" type="submit">
      {{'Find places' | translate}}
    </button>
  </div>

</form>
