<div>
  <h1>LOGO</h1>
</div>
<form [formGroup]="placesSearchForm" (ngSubmit)="findPlaces()">

  <mat-form-field>
    <input matInput formControlName="phrase" placeholder="{{'Search phrase' | translate}}">
  </mat-form-field>
  <div>
    <mat-button-toggle-group>
    <mat-button-toggle mat-raised-button type="radio" [disabled]="isLocationDisabled"
                       (change)="locateUser()">{{'Locate' | translate}}</mat-button-toggle>
    <mat-button-toggle mat-raised-button type="radio" [checked]="true"
                       (change)="useBounds()">{{'Search visible area' | translate}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field>
    <input matInput formControlName="range" type="number" placeholder="{{'Range' | translate}}" (change)="updateRange($event)">
    <span matSuffix>m</span>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="{{'Place type' | translate}}">
      <mat-option *ngFor="let place of placeTypes | async" value="place">{{place | translate}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="preferences" placeholder="{{'Preferences' | translate}}">
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" type="submit">
      {{'Find places' | translate}}
    </button>
  </div>

</form>
