@import 'colors';
@import 'variables';

:host(fs-pagination) {
  .fs-pagination-buttons-wrapper {
    margin: 0;
    margin-bottom: $margin-small;

    div {
      @media (max-width: 767px) {
        padding: 0;
      }
    }

    button {
      @media (min-width: 768px) {
        width: 30%;
      }

      @media (max-width: 767px) {
        margin-bottom: $margin-small;
        width: 100%;
      }
    }

    i {
      vertical-align: middle !important;
    }
  }
}
