@import 'colors';
@import 'variables';
@import 'mixins';


:host(un-registration) {
  form {
    margin-bottom: 10px;

    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;

      i {
        vertical-align: middle !important;
      }
    }
  }

  .un-re-captcha {
    re-captcha {
      display: none;
    }
  }
}
