@import 'colors';
@import 'variables';
@import 'mixins';


:host(un-registration) {
  form {
    margin-bottom: 10px;

    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;

      i {
        vertical-align: middle !important;
      }
    }
  }

  .un-re-captcha {
    margin-bottom: $margin-small;

    jhi-re-captcha {
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }
  }
  .rc-anchor-light {
    background: inherit !important;
  }
}
