<form [formGroup]="registrationUserForm" (ngSubmit)="registerUser()">
  <div class="form-group col-12">
    <input type="text" class="form-control" name="firstName" formControlName="firstName" placeholder="{{'first name' | translate}}" tabindex="1">
    <input type="text" class="form-control" name="lastName" formControlName="lastName" placeholder="{{'last name' | translate}}" tabindex="1">
    <input type="email" class="form-control" name="email" formControlName="email" placeholder="{{'email' | translate}}" tabindex="1">
    <div formGroupName="passwordGroup">
      <input type="password" matTooltip="{{'Minimum 8 signs, at least upper case and digit' | translate}}" [matTooltipPosition]="'right'" class="form-control" formControlName="password" placeholder="{{'password' | translate}}" tabindex="1">
      <span *ngIf="passwordIncorrect">
        {{'Password is incorrect' | translate}}
      </span>
      <input type="password" class="form-control" formControlName="repeatedPassword" placeholder="{{'repeat password' | translate}}" tabindex="1">
      <span *ngIf="passwordsNotEquals">
        {{'Passwords must match' | translate}}
      </span>
    </div>
  </div>
  <div class="fs-re-captcha">
    <re-captcha #captchaRef="reCaptcha" (resolved)="captchaResolved($event)" size="invisible" [siteKey]="googleReCaptchaKey"></re-captcha>
  </div>
  <span *ngIf="formIncorrect">
    {{'Some of fields have errors' | translate}}
  </span>
  <button class="btn fs-form-button" type="submit" [promiseBtn]="promiseButton">
    <i class="material-icons">people</i> {{'Create account' | translate}}
  </button>
  {{registrationError | translate}}
</form>
