<form [formGroup]="registrationUserForm" (ngSubmit)="registerUser()">
  <mat-form-field>
    <input matInput formControlName="firstName" placeholder="{{'first name' | translate}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="lastName" placeholder="{{'last name' | translate}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="{{'email' | translate}}">
  </mat-form-field>
  <div formGroupName="passwordGroup">
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="{{'password' | translate}}"
             matTooltip="{{'Minimum 8 signs, at least upper case and digit' | translate}}"
             [matTooltipPosition]="'right'">
    </mat-form-field>
    <span *ngIf="passwordIncorrect">
      {{'Password is incorrect' | translate}}
    </span>
    <mat-form-field>
      <input matInput type="password" formControlName="repeatedPassword"
             placeholder="{{'repeat password' | translate}}">
    </mat-form-field>
    <span *ngIf="passwordsNotEquals">
      {{'Passwords must match' | translate}}
    </span>
  </div>
  <div class="un-re-captcha">
    <jhi-re-captcha formControlName="gRecaptchaResponse" [site_key]="googleReCaptchaKey"
                    [language]="currentLanguage | flagCultureLang | lowercase"></jhi-re-captcha>
  </div>
  <span *ngIf="formIncorrect">
    {{'Some of fields have errors' | translate}}
  </span>
  <button mat-raised-button color="accent" type="submit">
    <i class="material-icons">people</i> {{'Create account' | translate}}
  </button>
  {{registrationError | translate}}
</form>
