@import "colors";
@import "variables";

:host(un-root) {
  min-height: 100%;

  .page-content {
    min-height: calc(100% - #{$un-header-height} - #{$un-footer-height});
    min-height: calc(100vh - #{$un-header-height} - #{$un-footer-height});
    background-color: $app-background;

    .container-fluid {
      min-height: inherit;
    }
  }
}
