@import "colors";
@import "variables";

:host(fs-root) {
  min-height: 100%;

  .page-content {
    min-height: calc(100% - #{$fs-header-height} - #{$fs-footer-height});
    min-height: calc(100vh - #{$fs-header-height} - #{$fs-footer-height});
    background-color: $app-background;

    .container-fluid {
      min-height: inherit;
    }
  }
}

.fs-modal-dev-body {
  text-align: center;
  .fs-modal-icon {
    margin-bottom: 1rem;
  }
}
