<fs-header></fs-header>
<div class="page-content">
  <router-outlet (activate)="onActivate()"></router-outlet>
</div>
<fs-footer class="mt-auto"></fs-footer>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'Welcome to FlavorSome!' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ 'This page is in development mode. Some of functionalities may not be working or contains bugs.' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalRef.close()">{{ 'Close' | translate }}</button>
  </div>
</ng-template>
