<div *ngIf="placeDetails;else other_content">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div>{{placeDetails?.formatted_address}}</div>
        <div>{{placeDetails?.formatted_phone_number}}</div>
        <div>{{placeDetails?.website}}</div>

        <div>{{placeDetails?.rating}}</div>
        <div>{{placeDetails?.vicinity}}</div>
        <div>{{placeDetails?.id}}</div>
        <div>{{placeDetails?.place_id}}</div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div *ngIf="placeDetails?.opening_hours.weekday_text">
          <div *ngFor="let day of placeDetails?.opening_hours.weekday_text">
            {{ day }}
          </div>
        </div>
      </div>
    </div>
</div>

<ng-template #other_content>
  <div class="alert alert-warning" role="alert">
    Brak danych!
  </div>
</ng-template>
