<div class="row fs-description">
  <div class="col-12 fs-create-account">
    {{"Don't have an account yet?" | translate}} <a [routerLink]="['/registration']">{{'Create one!' | translate}}</a>
  </div>
  <div class="col-lg-8 col-sm-10 fs-main-content">
    <fs-place-searcher></fs-place-searcher>
    <div class="fs-info row">
      <div class="fs-info-tile col-lg-3 col-md-6 col-sm-12">
        <div class="fs-tile-header">
            <i class="material-icons">restaurant_menu</i>
        </div>
        <div class="fs-tile-content">
          <div>{{ 'App, that provide easy searching gastronomic local.' | translate}}</div>
        </div>
      </div>
      <div class="fs-info-tile col-lg-3 col-md-6 col-sm-12">
        <div class="fs-tile-header">
            <i class="material-icons">people</i>
        </div>
        <div class="fs-tile-content">
          <div>{{ "Don't waste your time and money. Here You can search perfect place easily and have recommendations from Your freinds." | translate }}</div>
        </div>
      </div>
      <div class="fs-info-tile col-lg-3 col-md-6 col-sm-12">
        <div class="fs-tile-header">
          <i class="material-icons">tablet_mac</i>
        </div>
        <div class="fs-tile-content">
          <div>{{ "It's not only about searching. Create account and find out many facilities we provided for You." | translate}}</div>
        </div>
      </div>
      <div class="fs-info-tile col-lg-3 col-md-6 col-sm-12">
        <div class="fs-tile-header">
            <i class="material-icons">restaurant</i>
        </div>
        <div class="fs-tile-content">
          <div class="fs-div-button">{{ 'Just sign up and use wide FlavorSome!' | translate }}</div>
          <div class="fs-button-wrapper">
            <button *ngIf="!isLoggedIn()" class="btn" [routerLink]="['/login']">{{"Login Page" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
