@import 'colors';
@import 'variables';
@import 'mixins';

:host(fs-home-page) {
  color: $text;

  .row.fs-description {
    margin: 0;

    .fs-create-account {
      text-align: center;
    }

    .fs-main-content {
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      .fs-info {
        position: relative;

        @media (min-width: 992px) and (max-width: 1199px) and (orientation:portrait) { // fix for ipad-pro and similar desktop
          .col-lg-3 {
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
          }
        }

        .fs-info-tile {
          display: inline-block;
          text-align: center;
          margin: auto;

          .fs-tile-header {
            display: block;

            .material-icons {
              @include creatIconCircle('/assets/ux/tile.jpg', 2.3em, 2.3rem, calc(4.3rem), white);
              @include transform(0, 3rem, 0);
              transition: width 1s;
            }
          }

          &:hover {
            .fs-tile-header .material-icons {
              width: 13rem;
            }
          }


          .fs-tile-content {
            text-align: justify;

            @media (min-width: 1200px) {
              height: 18rem;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
              height: 15rem;
            }

            @media (min-width: 768px) and (max-width: 991px) {
              height: 13rem;
            }

            @media (max-width: 767px) {
              min-height: 10rem;
            }


            background-color: rgba(0, 0, 0, .06);

            div {
              padding: 0 $padding-small;
              padding-top: 3 * $padding-large;
            }

            .fs-button-wrapper {
              width: 100%;
              padding: $padding-large 0;
              text-align: center;

              button {
                width: 60%;
              }
            }
          }
        }
      }
    }
  }
}
