<div class="row un-description">
  <div class="col-12 un-create-account">
    {{"Don't have an account yet?" | translate}} <a [routerLink]="['/registration']">{{'Create one!' | translate}}</a>
  </div>
  <div class="col-8 un-main-content">
    <un-place-searcher></un-place-searcher>
    <div class="un-info row">
      <div class="un-info-tile col-lg-3 col-md-6 col-sm-12">
        <div class="un-tile-header">
            <i class="material-icons">restaurant_menu</i>
        </div>
        <div class="un-tile-content">
          <div>{{ 'App, that provide easy searching gastronomic local.' | translate}}</div>
        </div>
      </div>
      <div class="un-info-tile col-lg-3 col-md-6 col-sm-12">
        <div class="un-tile-header">
            <i class="material-icons">people</i>
        </div>
        <div class="un-tile-content">
          <div>{{ "Don't waste your time and money. Here You can search perfect place easily and have recommendations from Your freinds." | translate }}</div>
        </div>
      </div>
      <div class="un-info-tile col-lg-3 col-md-6 col-sm-12">
        <div class="un-tile-header">
          <i class="material-icons">tablet_mac</i>
        </div>
        <div class="un-tile-content">
          <div>{{ "It's not only about searching. Create account and find out many facilities we provided for You." | translate}}</div>
        </div>
      </div>
      <div class="un-info-tile col-lg-3 col-md-6 col-sm-12">
        <div class="un-tile-header">
            <i class="material-icons">restaurant</i>
        </div>
        <div class="un-tile-content">
          <div class="un-div-button">{{ 'Just sign up and use wide FlavorSome!' | translate }}</div>
          <button *ngIf="!isLoggedIn()" class="btn" [routerLink]="['/login']">{{"Login Page" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<a [routerLink]="['/places', 'ChIJ0QIxIxBbFkcRzdl4v6nUZKs']">Sample place 1</a>
<a [routerLink]="['/places', 'ChIJ0Xmhfg5bFkcRtO0Wx-b-AMw']">Sample place 2</a>
