<div class="row un-ratings-item">
  <div class="col-md-3 col-sm-12 un-rate-details">
    <div *ngIf="rate?.rating != 0;  else noRates" class="un-rate-details-div">
      <i class="material-icons">star_rate</i>
      <div> {{rate?.rating}} / 10 </div>
    </div>
    <ng-template #noRates>
      <i class="material-icons un-rate-star">star_border</i>
      <div> - / 10 </div>
    </ng-template>
  </div>
  <div class="un-rate-details col-md-9 col-sm-12">
    <div class="row">
      <div class="col-md-6 col-sm-12">
          <a *ngIf="placeDetails" [routerLink]="['/places', placeDetails?.place_id]">{{placeDetails?.name}}</a>
          <div>
            <un-place-address [location]="placeDetails?.location"></un-place-address>
          </div>
          <div>
            {{rate?.comments}}
          </div>
        </div>
        <div class="col-md-3 col-sm-12 un-rate-edit">
          <button mat-raised-button
                  [matTooltip]="'Edit' | translate"
                  *ngIf="allowEdit"
                  (click)="toggleEditForm()">
            <i class="material-icons">edit</i>
          </button>
          <button mat-raised-button
                  [matTooltip]="'Remove' | translate"
                  *ngIf="allowRemove"
                  color="accent"
                  (click)="remove()">
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>

      <div *ngIf="editing" class="row">
        <div class="col-12">
          <un-rate-form [rate]="rate" (rateChanged)="saveEdited($event)" [editing]="true"></un-rate-form>
        </div>
      </div>
    </div>
  </div>
