@import 'colors';
@import 'variables';
@import 'mixins';

:host(un-user-ratings-list-item){
  .un-ratings-item {
    margin: 0;
    border: 0.08rem solid $beige;
    margin-bottom: $margin-medium;

    .un-rate-details {
      text-align: center;
      min-height: 13vh;
      padding-left: 0;

      .un-rate-details-div {
        height: 100%;
        width: 100%;
        background-image: url('/assets/ux/petr-sevcovic-594807-unsplash.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: $font-color-on-colored-div;
        text-align: initial;
        padding-left: 2.5vw;
        padding-top: $padding-medium;

        .un-rate-details {
          padding: $padding-medium;
        }

        i {
          padding-left: $padding-small/2;
          width: $font-size-basic;
        }
      }
    }

    .un-rate-edit {
      button {
        position: relative;
        transform: translateY(50%);
      }
    }
  }
}

