<div class="fs-header-full">
  <nav class="navbar navbar-light">
    <span class="fs-app-name" [routerLink]="['/']">
      <img src="assets/ux/logo-mini-2.svg">
    </span>
    <span class="fs-header-fill"></span>
    <fs-language-chooser></fs-language-chooser>
    <button class="btn" *ngIf="currentUser" [routerLink]="['/users', currentUser.userId]">
      <fs-user-picture [picture]="currentUser?.picture"></fs-user-picture> {{userDisplayName}}
    </button>
    <button class="btn" *ngIf="!isLoggedIn" [routerLink]="['/login']">{{"Login" | translate}}</button>
    <button class="btn" *ngIf="!isLoggedIn" [routerLink]="['/registration']">{{"Registration" | translate}}</button>
    <button class="btn" [routerLink]="['/about']">{{ 'About FlavorSome' | translate }}</button>
    <button class="btn" *ngIf="isLoggedIn" (click)="logout()">{{"Logout" | translate}}</button>
  </nav>
  <div class="fs-full-logo" [ngClass]="(showPlaceSearcher()) ? 'fs-logo-small' : 'fs-logo-big'">
    <img src="assets/ux/logo.svg">
  </div>
  <div class="fs-header-searcher">
    <fs-place-searcher *ngIf="showPlaceSearcher()"></fs-place-searcher>
  </div>
</div>
