<div class="un-header-full">
  <nav class="navbar navbar-light">
    <span class="un-app-name" [routerLink]="['/']">
      <img src="assets/ux/logo-mini-2.svg">
    </span>
    <span class="un-header-fill"></span>
    <un-language-chooser></un-language-chooser>
    <button class="btn" *ngIf="currentUser" [routerLink]="['/users', currentUser.userId]">
      <un-user-picture [user]="currentUser"></un-user-picture> {{userDisplayName}}
    </button>
    <button class="btn" *ngIf="!isLoggedIn" [routerLink]="['/login']">{{"Login" | translate}}</button>
    <button class="btn" *ngIf="isLoggedIn" (click)="logout()">{{"Logout" | translate}}</button>
    <button class="btn" *ngIf="!isLoggedIn" [routerLink]="['/registration']">{{"Registration" | translate}}</button>
  </nav>
  <div class="un-full-logo" [ngClass]="(showPlaceSearcher()) ? 'un-logo-small' : 'un-logo-big'">
    <img src="assets/ux/logo.svg">
  </div>
  <div class="un-header-searcher">
    <un-place-searcher *ngIf="showPlaceSearcher()"></un-place-searcher>
  </div>
</div>
