@import "colors";
@import "variables";


:host(un-header) {
  nav {
    span.un-header-fill {
      flex: 1 1 auto;
    }

    background-color: $un-header-background;
    height: $un-header-height;
    color: $font-color-basic;
    -webkit-box-shadow: 2px 2px 4px 1px $shadow;
    -moz-box-shadow:    2px 2px 4px 1px $shadow;
    box-shadow:         2px 2px 4px 1px $shadow;

    button {
      color: $font-color-basic;
      background-color: transparent;
      border-left: 0.7px solid $gray-light;

      &:last-child:after{
        border-right: none;
      }

      &:hover {
        color: $dirty-green;
      }

      i {
        vertical-align: middle !important;
      }
    }

    button:first-child {
      border-right: none;
    }
  }

  .un-app-name {
    cursor: pointer;
    padding-right: $padding-small;

    img {
      height: 30px;
      width: auto;
    }
  }
}
