@import "colors";
@import "variables";


:host(un-header) {
  .un-header-full {
    background-image: url('/assets/ux/yakynina-anastasia-546115-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: $un-header-height;
    -webkit-box-shadow: 2px 2px 4px 1px $shadow;
    -moz-box-shadow:    2px 2px 4px 1px $shadow;
    box-shadow:         2px 2px 4px 1px $shadow;

    .un-full-logo {
      text-align: center;

      &.un-logo-small img {
        height: 8rem;
        width: auto;
      }

      &.un-logo-big img {
        height: 12rem;
        width: auto;
      }
    }

    .un-header-searcher {
      margin-top: $margin-large;
    }
  }

  nav {
    span.un-header-fill {
      flex: 1 1 auto;
    }

    color: $font-color-on-colored-div;

    button {
      color: $font-color-on-colored-div;
      background-color: transparent;
      padding: $padding-small $padding-large;
      // padding-bottom: $padding-small;
      // margin-top: $padding-small;

      &:last-child:after{
        border-right: none;
      }

      &:hover {
        color: $beige;
        transition: border-bottom-color 0.5s ease;
        border-bottom: $border-width-medium solid $beige;
        outline: 0;
        box-shadow: none;
      }

      &:focus {
        color: $beige;
        background-color: rgba(255, 255, 255, .04);
        border-bottom: $border-width-medium solid $beige;
      }

      i {
        vertical-align: middle !important;
      }
    }

    button:first-child {
      border-right: none;
    }
  }

  .un-app-name {
    cursor: pointer;
    padding-right: $padding-small;

    img {
      height: calc(#{$font-size-header} + 0.2rem);
      width: auto;
    }
  }
}
