@import "colors";
@import "variables";


:host(fs-header) {
  .fs-header-full {
    background-image: url('/assets/ux/yakynina-anastasia-546115-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: $fs-header-height;
    -webkit-box-shadow: 2px 2px 4px 1px $shadow;
    -moz-box-shadow:    2px 2px 4px 1px $shadow;
    box-shadow:         2px 2px 4px 1px $shadow;

    .fs-full-logo {
      text-align: center;

      &.fs-logo-small img {
        height: 4rem;
        width: auto;
      }

      &.fs-logo-big img {
        height: 10rem;
        width: auto;
      }
    }

    .fs-header-searcher {
      background-color: rgba(255, 255, 255, .8);

      fs-place-searcher {
        margin-top: $margin-large;
      }
    }
  }

  nav .navbar-collapse {
    background-color: transparent;
    color: $font-color-on-colored-div;

    a {
      color: $font-color-on-colored-div;
      background-color: transparent;
      padding: $padding-small $padding-large;
      border-bottom: $border-width-medium solid transparent;

      &:last-child:after{
        border-right: none;
      }

      &:hover {
        color: $beige;
        transition: border-bottom-color 1s ease;
        border-bottom: $border-width-medium solid $beige;
        outline: 0;
        box-shadow: none;
      }

      &:focus {
      color: lighten($beige, 10%);
        background-color: rgba(255, 255, 255, .06);
        border-bottom: $border-width-medium solid lighten($beige, 10%);
      }
    }

    a:first-child {
      border-right: none;
    }
  }

  nav .navbar-collapse.show {
    a {
      background-color: rgba(0, 0, 0, .43);
      margin-bottom: $margin-extra-small;

      &:hover {
        color: $font-color-on-colored-div;
      }
    }
  }

  .navbar-brand {
    img {
      height: calc(#{$font-size-header} + 0.2rem);
      width: auto;
    }
  }

  button i {
    color: $font-color-on-colored-div;
    vertical-align: middle !important;
  }
}
