@import 'colors';

:host(un-custom-login) {
  form {
    margin-bottom: 10px;
    input {
      color: wheat;
    }

    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
