@import 'colors';
@import 'variables';
@import 'mixins';

:host(fs-custom-login) {
  form {
    margin-bottom: $margin-small;

    input {
      color: $text;
    }

    button {
      margin-top: $margin-small;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }

    .fs-error {
      color: $error;

      i {
        vertical-align: middle !important;
      }
    }
  }
}
