@import 'colors';
@import 'variables';

:host(fs-footer) {
  width: 100%;

  .fs-footer {
    background-color: white;
    color: $text;
    position: relative;
    line-height: $fs-footer-height;
    text-align: center;
    height: $fs-footer-height;

    .row {
      margin: 0;

      .fs-copyrights {
        text-align: center;
      }

      .fs-footer-link {
        text-align: right;
      }
    }
  }
}
