@import 'colors';
@import 'variables';

:host(fs-footer) {
  width: 100%;

  .fs-footer {
    background-color: white;
    color: $text;
    position: relative;
    line-height: $fs-footer-height;
    text-align: center;
    height: $fs-footer-height;

    .row {
      margin: 0;

      .fs-footer-details {
        text-align: right;

        a {
          color: $text;
        }

        i {
          vertical-align: middle !important;
          color: $dirty-green;
        }
        .fs-footer-contact {
          padding-right: $padding-small;
        }

        @media (max-width: 767px) {
          .fs-footer-contact {
            float: left;
            text-align: initial;
            padding-right: 0;
          }

          .fs-footer-about {
            float: right;
            text-align: initial;
          }
        }
      }

      .fs-copyrights {
        text-align: center;
      }
    }
  }
}
