<form [formGroup]="passwordRecoveryForm" (ngSubmit)="recoverPassword()">
  <div class="form-group col-12">
    <input type="email" class="form-control" name="email" formControlName="email" placeholder="{{'email' | translate}}" tabindex="1">
  </div>
  <div class="fs-re-captcha">
    <re-captcha #captchaRef="reCaptcha" (resolved)="captchaResolved($event)" size="invisible" [siteKey]="googleReCaptchaKey"></re-captcha>
  </div>
  <span *ngIf="formIncorrect">
    {{'Some of fields have errors' | translate}}
  </span>
  <button class="btn" type="submit" [promiseBtn]="promiseButton">
    {{'Recover password' | translate}}
  </button>
</form>
