@import "colors";
@import "variables";
@import "mixins";

:host(fs-rate-form) {
  button {
    background-color: $dirty-green;
  }

  @media (min-width: 768px) {
    mat-form-field.fs-rate-content {
      width: 25rem;
    }

    mat-form-field.fs-rate {
      width: 5rem;

      input.mat-input-element {
        margin-top: 0.9375em;
      }
    }
  }

  @media (max-width: 767px) {
    mat-form-field {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}
