<form [formGroup]="rateForm" (ngSubmit)="addNewRate()">
  <mat-form-field>
    <input matInput
           type="number"
           [min]="ratingsConfig.minRateValue"
           [max]="ratingsConfig.maxRateValue"
           formControlName="rating"
           placeholder="{{'rating' | translate}}">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           formControlName="comments"
           placeholder="{{'write something...' | translate}}">
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">{{editing ? 'Save' : 'Add' | translate}}</button>
</form>
