<div class="un-map-container-wrapper">
  <div class="un-map-container" [ngSwitch]="provider">

    <ng-template #google [ngSwitchCase]="providers.Google">
      <agm-map [latitude]="mapCenter?.lat" [longitude]="mapCenter?.lng" [scrollwheel]="true" [zoom]="zoom"
               (mapReady)="mapReady($event)">
        <!--<agm-circle *ngIf="userPosition"-->
                    <!--[latitude]="userPosition?.lat"-->
                    <!--[longitude]="userPosition?.lng"-->
                    <!--[radius]="searchRadius"-->
                    <!--[fillOpacity]="0.1"-->
                    <!--[clickable]="false"-->
                    <!--[draggable]="false" ></agm-circle>-->
        <!--<agm-marker *ngIf="userPosition"-->
                    <!--[latitude]="userPosition?.lat()"-->
                    <!--[longitude]="userPosition?.lng()"-->
                    <!--[markerClickable]="false"-->
                    <!--[markerDraggable]="false" ></agm-marker>-->
      </agm-map>
    </ng-template>


    <ng-template #here [ngSwitchCase]="providers.Here">
      <div #map style="width: 100%; height: 100%"></div>
    </ng-template>

  </div>
</div>
