@import "colors";
@import "variables";

:host(fs-places-list) {
  .fs-place-detail-full {
    text-align: center;
    border: $border-width-small solid $beige;
    border-top-width: $border-width-large;
  }
}
